@tailwind base;
@tailwind components;
@tailwind utilities;

.meal-plan-container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
  }
  
  .day-plan {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .meal-list {
    list-style-type: none;
    padding: 0;
  }
  
  .meal-item {
    margin-bottom: 20px;
  }
  
  .meal-time {
    color: #333;
  }
  
  .meal-description {
    color: #555;
  }
  